body{
	font-family: 'VT323', monospace;
}
.container{
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	width:100vw;
	height: 100vh;
	background-image: url('../images/ce7b10eee61c1cccfa2a6cdc824a7799.jpg');
	background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
	background-size: cover; 
	padding: 5vh;
}
.logo{
	margin:auto;
	margin-top: 4rem;
}
.logo img{
	width: 60vw;

}
ul{
	list-style: none;
}
ul li{
	text-align: center;
	margin: 2rem;
}
a{
	text-decoration: none;
	font-size: 5rem;
	color: white;
	padding: 1rem;
	border: none;
	background: transparent;
}
a:hover{
	border: 2px solid white;
	border-radius: 5%;
}
