:root{
  --sky-color:lightskyblue;
}  
a{
  /* margin: 1rem; */
  font-size: 2rem;
  text-decoration-style: none;
  color: white;
}
.tool{
  width: 70px;
  height: 70px;
  margin: 10px;
  transition: background-color 0.5s linear;
}
.tool:hover{
  background-color:blue;
  
}
.shovel{
    content: url('../images/hiclipart_shovel.png');
}
.axe{
  content: url('../images/hiclipart_axe.png');
}
.pickaxe{
  content: url('../images/hiclipart_pickaxe.png');
}
.bucket{
  content: url('../images/mc_bucket.png');
}

mc_bucket.png
.selected{
  background-color:blue;
}
.tile{
  width: 5vw;
  height: 3vw;
  padding: 1px;
  /* margin: 1px; */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; 
}
.tile:hover{
  border: 1px solid white;
}
.currentTile{
  width: 70px;
  height: 70px;
  margin: 10px;
  background-color: white;
}
.dirt{
  background-image: url('../images/mc_dirt.jpg');
}
.top-dirt{
  background-image: url('../images/mc_top_dirt.jpg');
}

.wood{
  background-image: url('../images/mc_tree_wood.jpg');
}
.tree{
  background-image: url('../images/mc_tree_2.jpg');
}
.stone{
  background-image: url('../images/mc_stone.jpg');
}
.sand{
  background-image: url('../images/mc_sand.jpg');
}
.water{
  background-image: url('../images/mc_water_2.jpg');
}
.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin: 20px auto; */
  /* background-color: yellow; */
  /* width: 1200px; */
  /* height: 750px; */

}
.container main{
  background-color: var(--sky-color);
  width: 750px;
  /* height: 750px; */
  margin: auto;

}

.container nav{
  display: flex;
  flex-direction: column;
  justify-content:space-evenly;
  align-items: center;
  margin: 10px;
  background-color: black;
  /* width: 250px; */
}

/* Animation */
@keyframes wrong{
  0%{
    background-color: red;
  }
  100%{
    background-color: blue;
  }

}